.plus{
	display: block;
	width: 100%;
	height: 2%;
	background-color: white;
	z-index: 10;
}

.plus img{
	position: fixed;
	top: 12px;
	right: 16px;
	width: 6%;
}

.cal{
	display: block;
	width: 100%;
	height: 100%;
}

.cal img{
	width: 100%;
	margin-top: 1%;
}

.ret{
	display: block;
	width: 100%;
	height: 100%;
}

.ret img{
	float: left;
	margin: -1% -1% 2% 3%;
	width: 7%;
}