// Place all the styles related to the cloths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

li{
	list-style: none;
}

ul{
	margin: 0;
	padding: 0;
}

.top{
	position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    /*height: 20%;*/
    z-index: 10;
    
}

.color{
	/*height: calc(9vw + 40px);*/
	height: 30%;
	border-bottom: 0.5px solid #c0c0c0;
  	display: flex;
	justify-content: center;
	background-color: white;
}

.color li{
	float: left;
}

.block{
  width: 6vw;
  height: 6vw;
  margin: 6px 2.4vw;
}

.block a{
	display: block;
	width: 100%;
	height: 100%;
}

.block-clear{
	border: 0.5px solid #c0c0c0;
	border-collapse: collapse;
	text-align: center;
	background-image: linear-gradient(45deg, transparent 48%, #ff6969 51%, transparent 52%, transparent);
}

.block-white{
	border: 0.5px solid #c0c0c0;
}

.block-black{
	background-color: black;
}

.block-gray{
	background-color: #c0c0c0;
}

.block-red{
	background-color: #ff6969;
}

.block-yellow{
	background-color: #f9bf4b;
}

.block-green{
	background-color: #44d37e;
}

.block-blue{
	background-color: #6ec4ff;
}

.block-purple{
	background-color: #b8b2ea;
}

.on {
	/*background-color: rgba(255,165,0,20);*/
	border-bottom: 1px solid rgba(255,165,0,20);
}

.scroll-nav {
  /* スクロールバーを見えなくするため */
  height: 38px; /* 実際に表示する高さ */
  overflow-y: hidden;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* 中身がスクロールするビュー */
.scroll-nav__view {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: white;
}

/* 実際にスクロールするオブジェクト */
.scroll-nav__list {
  /* tableにすることで、横幅指定をすることなくmargin: autoによる中央寄せが可能になる */
  display: table;
  margin: 0 auto;
  /* 下方向に余分なpadding部分を持たせ、そこにスクロールバーが表示される */
  padding: 0 0 8px 0;
}

.scroll-nav__item {
  /* itemを横並びに、かつ親要素がその親要素の横幅からはみだすことが可能になる */
  display: table-cell;
}

.scroll-nav a {
  display: block;
  padding: 8px;
  /* 文字列の自動改行を禁止 */
  white-space: nowrap;
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.cloths{
	margin-top: 25%;
	overflow-y: auto;
	/*flex-wrap: wrap;*/
}
.cloth{
  	display: flex;
  	flex-wrap: wrap;
}

.cloth .cloth-img {
	width: 33.3vw;
	height: 33.3vw;
}

.cloth .cloth-img a {
	display: block;
	width: 33.3vw;
	height: 33.3vw;
	position: relative;
	overflow: hidden;
}

.cloth .cloth-img a img{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	}

footer{
	display: flex;
	justify-content: space-around;
	position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;
    height: 10%;
	color: white;
	font-size: 1%;

}

.icon{
	margin-top: 1.3%;
}

.icon a{
  display: block;
  width: 100%;
  text-align: center;
}

footer p{
	margin: 0;
	text-align: center;
}

footer img{
	width: 10vw;
	height: 6vh;
}

.back img{
	display: flex;
	position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px; 
    width: 110%;
    height: 13%;                 /* 位置(左0px) */
   opacity: 0.5;
}